{# templates/base.html.twig #}

<!DOCTYPE html>
<html>
         <div class="navbar navbar-inverse navbar-static-top headroom">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('app_index') }}">
                        <img class="logo" src="{{ asset('assets/image/tchanan.png') }}" alt="Logo">
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-right">
                        <li><a href="{{ path('app_accueil') }}">Accueil</a></li>
                        <li><a href="#">Administrateur</a></li>
                        <li><a href="{{ path('agriculteur_index') }}">Agriculteur</a></li>
                        <li><a href="{{ path('client_index') }}">Client</a></li>
                        <li><a href="{{ path('categorie_index') }}">Categorie</a></li>
                        <li><a href="{{ path('produit_index') }}">Produit</a></li>
                        <li><a href="{{ path('typeproduit_index') }}">TypeProduit</a></li>
                    </ul>
                </div>
            </div>
        </div>


	
</html>

